.todo {
  text-align: center;
  color: black;
  background-color: lightgreen;
  width: 100%;
  height: 46rem;
  padding: 1px;
  font-family: "Poppins", sans-serif;

}

.todo h2 {
  color: black;
}

.Add input {
  background: transparent;
  border: solid black 2px;
  width: 20%;
  margin-right: 8px;
  text-align: center;
  width: 218px;
  height: 30px;
  border-radius: 18px;
  font-size: 20px;
  outline: none;
  font-family: "Poppins", sans-serif;

}

.Add button {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
  border-radius: 14px;
  padding-left: 14px;
  padding-right: 16px;
  padding-top: 7px;
  padding-bottom: 6px;
  border: none;
  margin-top: 10px;
  font-size: 15px;
}

.view input {
  background: transparent;
  border: none;
  width: 15%;
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  border-bottom: solid black 2px;
  text-align: center;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.view button {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  margin-top: 10px;
  font-size: 15px;
}

.view #sv {
  color: white;
  background-color: green;
}

.view #et {
  color: white;
  background-color: black;
}

.view #de {
  color: white;
  background-color: red;
}